<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drones</title>

    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/pageHeadline.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/verify.css">

</head>
<body>
    <%- include('../../partials/navbar') %>
    <main>
        <%- include('../../partials/messages') %>
        <div class="pageHeading">
            <h1>Drones</h1>
            <a href="/developer/drones/newDrone"><img src="/icons/add.svg" alt="" width="40vw" style="margin-left: 80vw;" class="customerAdd"></a>
            <hr>
        </div>  
        <%- include('../../partials/drones') %>
    </main>
<script src="/js/alert.js"></script>
</body>
</html>