<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>

    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/otp.css">
</head>
<body>
    <%- include('../../partials/messages') %>

    <div class="container-fluid">
        <a href="/developer/home/"><button>Home</button></a>
        <div class="row center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 otpBlock">
                <form action="/developer/password/forgotPassword" method="POST">
                    <p>Enter registered email.</p>
                    <div>
                        <input 
                            type="email" 
                            name="email"
                            value="<%= typeof locals.email != 'undefined' ? locals.email : '' %>" 
                            required>
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                    <a href="/developer/home/Login">Login again</a>
                </form>
                
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <script src="/js/alert.js"></script>
</body>
</html>