<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
</head>
<body>
    <h1>New password</h1>
    <%- include('../../partials/messages') %>
    <form action="/developer/password/newPassword" method="POST">
        <label for="password">Password</label>
        <input 
            type="password" 
            name="password" id="" 
            value="<%= typeof locals.password != 'undefined' ? locals.password : '' %>"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[A-Z]).{8,}" 
            title="Password must contain atleat 8 letter including small and capital letter, number and no special characters" 
            required
        >
        <br>
        <label for="confPassword">Confirm Password</label>
        <input 
            type="password" 
            name="confPassword" 
            id="" 
            value="<%= typeof locals.confPassword != 'undefined' ? locals.confPassword : '' %>"
            required
        >
        <input type="submit">
    </form>

    <a href="cancle">cancle</a>
</body>
</html>