<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>

    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/otp.css">
</head>
<body>
    <%- include('../../partials/messages') %>
    <div class="container-fluid">
        <div class="row center">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 otpBlock">
                <form action="/developer/password/newPassword" method="POST">
                    <p>Password Change</p>
                    <div>
                        <input 
                            type="password" 
                            name="password" id="" 
                            value="<%= typeof locals.password != 'undefined' ? locals.password : '' %>"
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[A-Z]).{8,}" 
                            placeholder="New Password"
                            title="Password must contain atleat 8 letter including small and capital letter, number and no special characters" 
                            required
                        >
                        <br>
                        
                        <input 
                            type="password" 
                            name="confPassword" 
                            placeholder="Confirm Password"
                            id="" 
                            value="<%= typeof locals.confPassword != 'undefined' ? locals.confPassword : '' %>"
                            required
                        >
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                    <a href="cancle">cancle</a>
                </form>
                
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
    <script src="/js/alert.js"></script>  

    
</body>
</html>