<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Developer Login</h1>
    <%- include('../../partials/messages') %>
    <form action="/developer/home/Login" method="POST">
        <div>
            <label for="name">Email</label>
            <input 
                type="email" 
                name="email"
                value="<%= typeof locals.email != 'undefined' ? locals.email : '' %>"
                required
            >
        </div>
        <div>
            <label for="name">Password</label>
            <input 
                type="password" 
                name="password"
                value="<%= typeof locals.email != 'undefined' ? locals.email : '' %>"
                required
            >
        </div>
        <div>
            <input type="submit">
        </div>
    </form>

    <a href="/developer/home/Register">Creat an account.</a>
    <a href="/developer/password/forgotpassword">Forgot Password?</a>
</body>
</html>