<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Register</title>
    <link rel="stylesheet" href="/css/input.css">
    <link rel="stylesheet" href="/css/alert.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <%- include('../../partials/messages') %>
    <h1 class="heading">Developer Regestration</h1>

    <div class="container-fluid">
        <a href="/developer/home/" class="homeBtn" ><button style="margin-top: 10px;">Home</button></a>
        <div class="row">
            <div class="col-md-6 formContainer">
                <form action="/developer/home/Register" method="POST" class="form">
                    <div>
                        <label for="name">Full Name</label>
                        <input 
                            type="text" 
                            name="name"
                            value="<%= typeof locals.data != 'undefined' ? locals.data.name : '' %>" 
                            placeholder="Ram Kumar"
                            required
                        >
                    </div>
                    <div>
                        <label for="name">Mobile</label>
                        <input type="Number" name="mobile" 
                            maxlength="10" 
                            minlength="10"
                            placeholder="94XXXXXX34"
                            value="<%= typeof locals.data != 'undefined' ? locals.data.mobile : '' %>"
                            required>
                    </div>
                    <div>
                        <label for="name">Email</label>
                        <input type="email" name="email" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            title="Please provide a valid mail" autocomplete="off"
                            value="<%= typeof locals.data != 'undefined' ? locals.data.email : '' %>"
                            placeholder="example@something.com"
                            required>
                    </div>
                    <div>
                        <label for="name">Password</label>
                        <input type="password" name="password"
                            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[A-Z]).{8,}"
                            title="Password must contain atleat 8 letter including small and capital letter, number and no special characters"
                            required>
                    </div>
                    <div>
                        <label for="name">Confirm Password</label>
                        <input type="password" name="confPassword" required>
                    </div>
                    <div>
                        <button>Submit</button>
                    </div>
                    <a href="/developer/home/Login">Already have an account?</a>
                </form>
            </div>
            <div class="col-md-6">
                <img src="/images/register.jpg" alt="Register vector">
            </div>
        </div>
    </div>

    <script src="/js/alert.js"></script>
</body>

</html>